html {
  margin: 0;
  padding: 0;
  background-color: #135371;
}
html body {
  margin: 0;
  padding: 30px;
}
html body header {
  width: 1860px;
  margin: 0 auto;
}
html body header h1 {
  font-size: 60px;
  color: white;
  margin: 0;
  text-transform: uppercase;
  background-image: url(img/logo-damdy.png);
  background-position: center right;
  background-repeat: no-repeat;
}
html body .wrapper {
  padding-top: 50px;
  width: 1860px;
  margin: 0 auto;
}
html body .wrapper .left {
  width: 1220px;
  margin-right: 20px;
  float: left;
}
html body .wrapper .left .player {
  width: 740px;
  margin-right: 30px;
}
html body .wrapper .left .slider-face {
  width: 280px;
  height: 300px;
}
html body .wrapper .left .speech {
  width: 100%;
  margin-top: 40px;
}
html body .wrapper .right {
  width: 600px;
  margin-left: 20px;
  float: left;
}
html body .wrapper .right .box {
  width: 100%;
}
html body .wrapper .right .ocr ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
html body .wrapper .right .ocr ul li {
  border: 1px solid #23bbee;
  color: #23bbee;
  display: inline-block;
  margin-right: 5px;
  margin-top: 10px;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 16px;
  max-width: 200px;
}
html body .wrapper .right .ocr ul li:hover,
html body .wrapper .right .ocr ul li.selected {
  background-color: #23bbee;
  color: white;
}
html body .wrapper .box {
  display: inline-block;
  float: left;
  margin-bottom: 30px;
}
html body .wrapper .box .header {
  background-color: #23bbee;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  height: 60px;
  line-height: 60px;
  padding: 0 30px;
}
html body .wrapper .box .header .selectLang {
  height: 30px;
  width: 90px;
  border-radius: 15px;
  margin: 15px 0px;
  float: right;
  background-color: #dcdcdc;
  border: 2px solid #1ea1cd;
  box-shadow: 3px 3px 5px 0px #1ea1cd;
}
html body .wrapper .box .header .selectLang .lang {
  width: 45px;
  display: inline-block;
  font-size: 14px;
  text-align: center;
  color: #23bbee;
  height: 30px;
  line-height: 30px;
  box-sizing: border-box;
  float: left;
}
html body .wrapper .box .header .selectLang .lang:nth-child(odd) {
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
}
html body .wrapper .box .header .selectLang .lang:nth-child(even) {
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
}
html body .wrapper .box .header .selectLang .lang:hover,
html body .wrapper .box .header .selectLang .lang.selected {
  background-color: #1ea1cd;
  color: white;
}
html body .wrapper .box .content {
  background-color: white;
  padding: 10px 30px;
  color: #6a6a6a;
  font-size: 20px;
}
html body .wrapper .box.slider-face .header {
  padding: 0 15px;
}
html body .wrapper .progressBox {
  height: 90px;
  width: 100%;
  border-radius: 45px;
  background-color: white;
  padding: 40px;
  box-sizing: border-box;
}
html body .wrapper .progressBox .progressBar {
  height: 10px;
  border-radius: 5px;
}
html body .wrapper .progressBox .progressBar div {
  float: left;
  height: 10px;
  display: inline-block;
  position: relative;
  z-index: 10;
}
html body .wrapper .progressBox .progressBar div:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
html body .wrapper .progressBox .progressBar div:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
html body .wrapper .progressBox .progressBar div:before {
  position: absolute;
  width: 20px;
  top: 0;
  left: -10px;
  z-index: 200;
  height: 10px;
  display: block;
  content: "";
}
html body .wrapper .progressBox .progressBar div.positive {
  background-color: #2beeae;
}
html body .wrapper .progressBox .progressBar div.positive.beforeNegative:before {
  background: -webkit-linear-gradient(left, #e73689, #2beeae);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #e73689, #2beeae);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #e73689, #2beeae);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #e73689, #2beeae);
  /* Standard syntax */
}
html body .wrapper .progressBox .progressBar div.positive.beforeNeutral:before {
  background: -webkit-linear-gradient(left, #aaaaaa, #2beeae);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #aaaaaa, #2beeae);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #aaaaaa, #2beeae);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #aaaaaa, #2beeae);
  /* Standard syntax */
}
html body .wrapper .progressBox .progressBar div.negative {
  background-color: #e73689;
}
html body .wrapper .progressBox .progressBar div.negative.beforePositive:before {
  background: -webkit-linear-gradient(left, #2beeae, #e73689);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #2beeae, #e73689);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #2beeae, #e73689);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #2beeae, #e73689);
  /* Standard syntax */
}
html body .wrapper .progressBox .progressBar div.negative.beforeNeutral:before {
  background: -webkit-linear-gradient(left, #aaaaaa, #e73689);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #aaaaaa, #e73689);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #aaaaaa, #e73689);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #aaaaaa, #e73689);
  /* Standard syntax */
}
html body .wrapper .progressBox .progressBar div.neutral {
  background-color: #aaaaaa;
}
html body .wrapper .progressBox .progressBar div.neutral.beforePositive:before {
  background: -webkit-linear-gradient(left, #2beeae, #aaaaaa);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#2beeae, #aaaaaa);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#2beeae, #aaaaaa);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#2beeae, #aaaaaa);
  /* Standard syntax */
}
html body .wrapper .progressBox .progressBar div.neutral.beforeNegative:before {
  background: -webkit-linear-gradient(left, #e73689, #aaaaaa);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #e73689, #aaaaaa);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #e73689, #aaaaaa);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #e73689, #aaaaaa);
  /* Standard syntax */
}